DATABASE_URL= YOUR_DATABASE_URL

PORT= YOUR_PORT
APP_URL= YOUR_APP_URL
NODE_ENV= DEVELOPMENT OR PRODUCTION

BCRYPT_SALT_ROUNDS= BCRYPT_SALT_ROUNDS

JWT_ACCESS_SECRET= YOUR_JWT_SECRET
JWT_ACCESS_TIME= JWT_SECRET_TIME

STRIPE_SECRET= YOUR_STRIPE_SECRET
STRIPE_WEBHOOK_SECRET= YOUR_STRIPE_WEBHOOK_SECRET